html, body{
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #fafafa ;
}
button:focus, button {
    outline: 0;
}
button {
    cursor: pointer;
}

.product-card {
    background: #FFFFFF;
    padding: 28px 16px 19px;
}
.product-form__row {
    border: 0;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;

    .product-form__label {
        flex: 0 1 calc(46% - 58px);
    }
    .add-cart-counter__controls {
        flex: 0 0 106px;
    }
    .add-cart-counter__controls__total {
        flex: 0 0 calc(50% - 58px);
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: rgba(40, 47, 54, 0.8);
        position: relative;
    }
}



.vendor-code {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;    
    color: rgba(40, 47, 54, 0.5);
}
.product-card__name {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 25px;
}
.product-card__price {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;   
    color: #282F36;
}
.product-card__price__discount {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(40, 47, 54, 0.8);
    text-decoration: line-through;
    padding-left: 1.3rem;

}
.product-card__status {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;    
    letter-spacing: 1px;
    text-transform: uppercase;    
    color: #6E99AE;   
    margin: 0; 
}
.form-footer {
    margin-top: 30px;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}


/* form */
.product-form__select {
    border: 1px solid rgba(40, 47, 54, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #282F36;
    background: transparent url(../img/select_arrow.svg) no-repeat calc(100% - 14px) center;
    padding: 0.3rem 1rem 0.3rem;
    min-width: 167px;
}
.add-cart-counter__controls {
    width: 106px;
    height: 30px;
    border: 1px solid rgba(40, 47, 54, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.add-cart-counter__controls_btn {
    width: 33.333%;
    background: transparent;
    outline: 0;
    border: 0;
}
.add-cart-counter__controls__count {
    width: 33.3333%;
    text-align: center;
    line-height: 28px;
}





.prosduct-status {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;    
    color: rgba(40, 47, 54, 0.8);    
    display: inline-block;
    padding-right: 19px;
}
.prosduct-status.in--stock {
    background: transparent url(../img/inStock.svg) no-repeat right center;    
}
.btns-controls {
    float: right;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.btns-controls_btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    left: 225px;
    top: 802px;
    border: 1px solid rgba(40, 47, 54, 0.15);
    box-sizing: border-box; 
    cursor: pointer;
}

.btns-controls_btn.like {
    background: transparent url(../img/like.svg) no-repeat center center;  
}
.btns-controls_btn.statistics{
    background: transparent url(../img/statistics.svg) no-repeat center center;       
}
.btns-buy_btn {
    border-radius: 6px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 0.45rem;
    margin: 8px 0;
}
.buy-one-click {
    background: #419AEE;
    color: #FFFFFF;
    border: 0;
}
.add-to-card {
    background: #fff;
    border: 1px solid rgba(40, 47, 54, 0.15);
    border-radius: 6px;
    &::before{
        content: '';
        display: inline-block;
        width: 17.7px;
        height: 17px;
        background: transparent url(../img/add-to-card.svg) no-repeat center center;
        vertical-align: top;
        padding-right: 7px;
    }
}



.add-to-card__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #282F36;
}

/* slider */
.swiper-slide img {
    width: 100%;
}
.slider-section .swiper-button-prev,
.slider-section .swiper-button-next,
.swiper-container-horizontal>.swiper-scrollbar {
  display: none;
}
.swiper-wrapper {
    padding: 0 0 25px;  
}
.swiper-pagination-bullet {
    vertical-align: top;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -3px;
}
.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}
.swiper-pagination-bullet {
    background: rgba(40, 47, 54, 0.2);
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #282F36;
}
.gallery-thumbs {
    height: 100px;
}
/*  rating style */

.current-rating {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;  
    
    color: rgba(40, 47, 54, 0.5); 
}
.rating-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0px 0 4px;
}
.jq-ry-container {
    margin-left: auto;
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
    outline: 0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
    width: 38px;
    height: 38px;
    background: transparent url(../img/arrow_slide.svg) no-repeat center center;
    display: block;
    border-radius: 38px;
    opacity: 0.86;
    transition: all 0.25s ease-out;
    box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.08);
}
.swiper-button-prev::after {
    transform: rotate(180deg);
}
.swiper-button-next {
    right: 25px;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
    opacity: 0.96;    
}





.product-card__aside .product-card__status,
.product-card__aside .rating-container,
.gallery-thumbs,
.price-block-big {
    display: none;
}
.product-card__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(40, 47, 54, 0.8);
        
}
.product-form__row .product-form__label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(40, 47, 54, 0.8);
}
/* detscop style */
@media screen and (min-width: 768px) {
    .gallery-thumbs,
    .product-card__aside .rating-container ,
    .product-card__aside .product-card__status{
        display: block;
    }
    .product-card {
        max-width: 945px;
        margin: 0 auto;
        gap: 20px;
        display: grid;
        grid-template-columns: minmax(428px, 554px) minmax(320px, 394px);
        padding: 0;
    }
    .slider-section .swiper-button-prev,
    .slider-section .swiper-button-next,
    .swiper-container-horizontal>.swiper-scrollbar {
        display: block;
    }
    .swiper-wrapper {
        padding: 0;  
    }

    .product-card__gallery .rating-container,
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled,
    .product-card__name + .product-card__price {
        display: none;
    }
    .product-card__aside {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }
    .product-card__status {
        margin-top: 20px ;
        order: -2;
        max-height: 15px;
        overflow: hidden;
        position: relative;
    }
    .product-card__aside .rating-container {
        display: flex;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .current-rating {
        margin-right: auto;
    }
    .vendor-code {
        margin: 0;
    }
    .product-card__name {
        order: -1;
        margin-top: 10px;
        max-height: 21px;
        overflow: hidden;
        position: relative;
    }
    .jq-ry-container {
        margin-left: 0;
        padding-left: 0;
    }
    .product-card__aside .rating-container::after,
    .product-card__description::before,
    .form-footer::before{
        content: '';
        display: block;
        position: absolute;
        border-bottom: 1.5px solid rgba(40, 47, 54, 0.07);
        width: 100%;
        height: 2px;
        width: calc(100% + 40px);
        left: -20px;
        right: -20px;
        bottom: 0;
    }
    .form-footer::before {
        bottom: auto;
        top: 0;
    }
    .product-card__description {
        font-family: 'Lato', sans-serif;
        position: relative;
        margin: 0;
        padding-top: 23px;
        padding-bottom: 20px;
        height: 22%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .form-footer .row .product-card__price {
        display: none;
    }
    .product-form {
        padding-top: 20px;
    }
    .form-footer {
        position: relative;
        padding-top: 20px;
        margin-top: 20px;
    }
    .product-form__row {
        justify-content: flex-start;   
    }
    .product-form__row .product-form__label {
        flex: 0 0 78px;    
    }
    .form-footer::before {
        width: 100%;
        left: 0;
        right: 0;
    }
    .form-footer  .row .btns-controls {
        display: none;
    }
    .price-block-big {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btns-buy-group{
        display: grid;
        gap: 0 6px;
        grid-template-columns: 1fr 58%;
        padding: 20px 0;
    }
    .form-footer .row {
        margin-bottom: 10px;
    }
    .btns-buy_btn {
        margin: 0;
    }
    .product-card__price__discount {
        padding-left: 8px;
        vertical-align: middle;
    }
    .text-shadow-bottom-after::after,
    .text-shadow-right-after::after {
        content: "";
        width: 100%;
        height: 25px;
        background: transparent;
        position: absolute;
        box-shadow: 0px 1px 7px 3px rgba(255, 255, 255, 61%);
        bottom: 1px;
        left: 0;
        right: 0;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 76%);
    }
    .text-shadow-right-after::after {
        width: 50px;
        right: 0;
        height: 25px;
        bottom: 0;
        top: 0;
        left: auto;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 76%);
    box-shadow: 0 0px 0px 0px #fff;
    }
    .product-form__row .product-form__label {
        height: 18px;
        overflow: hidden;
        position: relative;
    }
    .product-form__label.text-shadow-right-after::after {
        width: 23px;
    }
}
@media screen and (min-width: 809px) {
    .product-card__description {
        height: 34%;
        max-height: 230px;
    }
}
/* css animations */
@-webkit-keyframes buzz-out-on-hover {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  @keyframes buzz-out-on-hover {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }

  .btns-controls_btn.like,
  .btns-controls_btn.statistics {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }
  .btns-controls_btn.like:hover,  .btns-controls_btn.like:focus,  .btns-controls_btn.like:active,
  .btns-controls_btn.statistics:hover, .btns-controls_btn.statistics:focus, .btns-controls_btn.statistics:active {
    -webkit-animation-name: buzz-out-on-hover;
    animation-name: buzz-out-on-hover;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }